body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.left {
	float: left;
	height: 200px;
	width: 200px;
}

.right {
	float: right;
	height: 200px;
	width: 200px;
}